*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--bo-head);
    height: 10%;
    width: 100%
}

:root {
    --bo-head: #ff6900;
    --bo-card: #e6e6e6;
    --bo-red-button: #ff0000;
    --bo-green-button: #008000;
    --bo-footer: #1a1a1a;
    --bo-text: white;
}

.d-flex{
    display: flex;
}

.sesso a{
    text-decoration: none;
    color: var(--bo-card);
}

.logo img{
    width: 20%;
}

.menu {
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    padding-left: 10rem;
    padding-right: 10rem;
}

.logo{
    justify-content: center;
    align-items: center;
}

a {
    margin: 0.2rem;
}

.row{
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3rem
}

.col {
    height: 90%;
    margin-left: 1rem;
    width: calc(60%/3);
}

.col img{
    width: 100%;
    height: 100%;
}

.marca {
    color: #e9e9e9;
}

.price{
    color: red ;
    display: inline;
}

.discount{
    color: var(--bo-card);
    display: inline;
    text-decoration: line-through;
}

h6{
    font-size: 20px;
}

footer {
    background-color: var(--bo-footer);
    height: 100px;
    width: 100%;
    margin-top: 9rem;
}

.info{
    flex-direction: column;
    width: 50%;
}

.info, .follow{
    line-height: 1.5rem;
}

 .general{
    justify-content: space-between;
    padding-left: 30rem;
    padding-right: 24rem;
    padding-top: 1rem;
 }

 .general h4, p{
    color: white;
    font-size: 15px;
 }

 .info p{
    display: inline;
 }

 .heart {
    width: 40px;
    height: 40px;
    background-color: var(--bo-text);
    position: relative;
    left: 91%;
    top: 7%;
    text-align: center;
    padding: 0.7rem;
 }

 .sostenibilità{
    width: ;
    height: 10px;
    background-color: var(--bo-green-button);
    color: var(--bo-text);
    bottom: 10%;
    width: 20%;
    text-align: center;
    padding: 0.4rem;
    display: inline;
    position: relative;
 }

 .sconto{
    height: 30px; 
    background-color: var(--bo-red-button);
    color: var(--bo-text);
    position: relative;
    bottom: 10%;
    width: 20%;
    text-align: center;
    padding: 0.4rem;
    display: inline;
 }

 .info_wear {
    margin-top: -20px;
 }